<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="spell.editors.SpellFormEditor"
            default="true"
            icon="icons/scroll.png"
            id="Spell.spellFormEditor"
            name="SpellEditor">
      </editor>
      <editor
            class="spell.editors.MagicItemFormEditor"
            default="true"
            icon="icons/ring.png"
            id="Spell.magicFormItemEditor"
            name="MagicItemEditor">
      </editor>
   </extension>

   <extension
         id="spell"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="spell.Application">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="spell.Perspective"
            icon="icons/book_open.png"
            id="Spell.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="spell.views.ViewSpell"
            icon="icons/book_open.png"
            id="Spell.view.Spell"
            name="Spell"
            restorable="true">
      </view>
       <view
             allowMultiple="false"
             class="spell.views.ViewMagicItem"
             icon="icons/chest.png"
             id="Spell.view.MagicItem"
             name="Item">
      </view>
      <view
            allowMultiple="false"
            class="spell.views.ViewDeck"
            icon="icons/images.png"
            id="Spell.view.Deck"
            name="Deck"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Spell.spell"
            name="Spell Card Manager">
	     <property
				name="preferenceCustomization"
				value="customization.ini"/>
      <property
            name="windowImages"
            value="icons/ico16.png,icons/ico32.png,icons/ico48.png"/>
      <property
            name="appName"
            value="Spell Card Manager">
      </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="spell.preferences.ImpressionPage"
            id="spell.preferences.ImpressionPage"
            name="Impression">
      </page>
       <page
            class="spell.preferences.AppearancePage"
            id="spell.preferences.AppearancePage"
            name="Interface">
      </page>
   </extension>
     <extension  
          point="org.eclipse.ui.menus">  
       <menuContribution  
             locationURI="menu:org.eclipse.ui.main.menu">  
          <command  
                commandId="org.eclipse.ui.window.preferences"  
                label="Options"  
                style="push">  
          </command>  
        </menuContribution>  
    </extension>
     <extension
           point="org.eclipse.ui.splashHandlers">
        <splashHandler
              class="spell.splashHandlers.SplashHandler"
              id="spell.splashHandlers">
        </splashHandler>
        <splashHandlerProductBinding
              productId="Spell.product"
              splashId="spell.splashHandlers">
        </splashHandlerProductBinding>
     </extension>

</plugin>
